/* Dark Monochrome userContent.css */

@media (prefers-color-scheme: dark) {

  /* Common variables affecting all pages */
  @-moz-document url-prefix("about:") {
    :root {
      --in-content-page-color: #d4d2cf !important;
      --color-accent-primary: #a0a0a0 !important;
      --color-accent-primary-hover: rgb(180, 180, 180) !important;
      --color-accent-primary-active: rgb(160, 160, 160) !important;
      background-color: #1e1d1c !important;
      --in-content-page-background: #1e1d1c !important;
    }

  }

  /* Variables and styles specific to about:newtab and about:home */
  @-moz-document url("about:newtab"), url("about:home") {

    :root {
      --newtab-background-color: #1e1d1c !important;
      --newtab-background-color-secondary: #302f2d !important;
      --newtab-element-hover-color: #302f2d !important;
      --newtab-text-primary-color: #d4d2cf !important;
      --newtab-wordmark-color: #d4d2cf !important;
      --newtab-primary-action-background: #a0a0a0 !important;
    }

    .icon {
      color: #a0a0a0 !important;
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
      color: #a0a0a0 !important;
    }

    .top-site-outer .search-topsite {
      background-color: #a0a0a0 !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download {
      fill: #909090 !important;
    }
  }

  /* Variables and styles specific to about:preferences */
  @-moz-document url-prefix("about:preferences") {
    :root {
      --zen-colors-tertiary: #181716 !important;
      --in-content-text-color: #d4d2cf !important;
      --link-color: #a0a0a0 !important;
      --link-color-hover: rgb(180, 180, 180) !important;
      --zen-colors-primary: #302f2d !important;
      --in-content-box-background: #302f2d !important;
      --zen-primary-color: #a0a0a0 !important;
    }

    groupbox , moz-card{
      background: #1e1d1c !important;
    }

    button,
    groupbox menulist {
      background: #302f2d !important;
      color: #d4d2cf !important;
    }

    .main-content {
      background-color: #121110 !important;
    }

    .identity-color-blue {
      --identity-tab-color: #a0a0a0 !important;
      --identity-icon-color: #a0a0a0 !important;
    }

    .identity-color-turquoise {
      --identity-tab-color: #9a9a9a !important;
      --identity-icon-color: #9a9a9a !important;
    }

    .identity-color-green {
      --identity-tab-color: #909090 !important;
      --identity-icon-color: #909090 !important;
    }

    .identity-color-yellow {
      --identity-tab-color: #c5c5c5 !important;
      --identity-icon-color: #c5c5c5 !important;
    }

    .identity-color-orange {
      --identity-tab-color: #b0b0b0 !important;
      --identity-icon-color: #b0b0b0 !important;
    }

    .identity-color-red {
      --identity-tab-color: #8a8a8a !important;
      --identity-icon-color: #8a8a8a !important;
    }

    .identity-color-pink {
      --identity-tab-color: #c0c0c0 !important;
      --identity-icon-color: #c0c0c0 !important;
    }

    .identity-color-purple {
      --identity-tab-color: #b5b5b5 !important;
      --identity-icon-color: #b5b5b5 !important;
    }
  }

  /* Variables and styles specific to about:addons */
  @-moz-document url-prefix("about:addons") {
    :root {
      --zen-dark-color-mix-base: #181716 !important;
      --background-color-box: #1e1d1c !important;
    }
  }

  /* Variables and styles specific to about:protections */
  @-moz-document url-prefix("about:protections") {
    :root {
      --zen-primary-color: #1e1d1c !important;
      --social-color: #b5b5b5 !important;
      --coockie-color: #959595 !important;
      --fingerprinter-color: #c5c5c5 !important;
      --cryptominer-color: #b0b0b0 !important;
      --tracker-color: #909090 !important;
      --in-content-primary-button-background-hover: rgb(67, 66, 64) !important;
      --in-content-primary-button-text-color-hover: #d4d2cf !important;
      --in-content-primary-button-background: #434240 !important;
      --in-content-primary-button-text-color: #d4d2cf !important;
    }


    .card {
      background-color: #302f2d !important;
    }
  }
}
